@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.bg-color {
  background: black;
}
.filters {
  background: black;
  width: 100%;
  li {
    display: inline-block;
    max-width: 105px;
    padding: 10px;
    padding-top: 8px;

    label {
      color: rgb(161, 159, 159);
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 200;
      padding-bottom: 8px;
    }
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
  }
}
.widget {
  position: relative;
  width: 500px;
  height: 600px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  .cover {
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      min-height: 160px;
      border-radius: 4px 4px 0 0;
    }
  }
  .photo {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: 0 0 0 -100px;
    border: 5px solid #fff;
    border-radius: 50%;
  }
  h1,
  h2,
  h3 {
    display: block;
    margin: 10px 0;
    margin-left: 5px;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #999;

    padding-top: 12px;
  }
  h1 {
    margin: 10px 0 10px;
    font-size: 50px;
    color: #000;
  }
  h3 {
    font-size: 30px;
  }
  ul {
    position: absolute;
    top: -16px;
    &.position-left {
      left: -26px;
    }
    &.position-right {
      right: -27px;
    }
    padding: 0;
    background: black;

    li {
      list-style: none;
      padding-bottom: 60px;
      font-size: 50px;
      a {
        display: block;
        padding-top: 20px;

        color: #fff;
        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid white;

        transition: background-color 0.3s;
        height: 70px;
        width: 50px;
      }
      &:hover > a {
        background-color: black;
      }
      &:first-child > a {
        border-radius: 0 3px 0 0;
      }
      &:last-child > a {
        border: none;
        border-radius: 0 0 3px 0;
      }
    }
  }
}
