@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.filters {
  background: white;
  width: 100%;
  li {
    display: inline-block;
    max-width: 80px;
    padding: 3px;
    label {
      display: block;
      font-size: 12px;
      font-weight: 900;
    }
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
  }
}
.widget {
  position: relative;
  width: 500px;
  height: 600px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  .cover {
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      min-height: 160px;
      border-radius: 4px 4px 0 0;
    }
  }
  .photo {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: 0 0 0 -100px;
    border: 5px solid #fff;
    border-radius: 50%;
  }
  h1,
  h2,
  h3 {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #999;
  }
  h1 {
    margin: 60px 0 20px;
    font-size: 30px;
    color: #000;
  }
  h3 {
    font-size: 20px;
  }
  ul {
    position: absolute;
    top: 20px;
    &.position-left {
      left: -26px;
    }
    &.position-right {
      right: -27px;
    }
    padding: 0;
    background: #2cdfd3;
    li {
      list-style: none;
      a {
        display: block;
        padding: 5px 6px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid #2cd5ca;
        transition: background-color 0.3s;
      }
      &:hover > a {
        background-color: #2cd5ca;
      }
      &:first-child > a {
        border-radius: 0 3px 0 0;
      }
      &:last-child > a {
        border: none;
        border-radius: 0 0 3px 0;
      }
    }
  }
}
